<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>exampleTest</td><td>NonPOSupInv.createInvoice()[pri:0, instance:com.workday.tests.NonPOSupInv@2fa1610b]<br/></td></tr>
</table>
