<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="edb792">  <td>14/05/12 07:20:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NonPOSupInv.createInvoice()[pri:0, instance:com.workday.tests.NonPOSupInv@2fa1610b]">createInvoice</td> 
  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="edb792">  <td>14/05/12 07:20:12</td>   <td>-7303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NonPOSupInv.initialize()[pri:0, instance:com.workday.tests.NonPOSupInv@2fa1610b]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
<tr bgcolor="edb792">  <td>14/05/12 07:20:48</td>   <td>29291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NonPOSupInv.signOut()[pri:0, instance:com.workday.tests.NonPOSupInv@2fa1610b]">&lt;&lt;signOut</td> 
<td>&nbsp;</td>  <td>main@271259266</td>   <td></td> </tr>
</table>
